footer{
    padding-top: 0;
    padding-bottom: 40px;
    background: rgb(155,14,22);
    background: linear-gradient(180deg, rgba(155,14,22,1) 0%, rgba(78,7,11,1) 100%);
    margin-top: 70px;

    .caja_gris_footer{
        width: calc(100% - 30px);
        max-width: 567px;
        height: auto;
        border-radius: 10px;
        background-color: #787979;
        display: flex;
        justify-content: left;
        top: -70px;
        box-shadow: 1px 3px 5px -2px rgba(0,0,0,0.55);
        -webkit-box-shadow: 1px 3px 5px -2px rgba(0,0,0,0.55);
        -moz-box-shadow: 1px 3px 5px -2px rgba(0,0,0,0.55);
        margin: 0 auto 60px;

        .imagen{
            width: 200px;
            height: 120px;
            border-radius: 10px;
            background-color: #686B68;
            padding-top: 7px;
            margin-right: 40px;

            img{
                width: 90%;
                max-width: 129px;
                margin: 0 auto;
            }
        }
    }

    .logo{
        width: 200px;
        margin-bottom: 40px;
        margin-top: -50px;
    }

    .titular{
        color: #ffffff;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 26px;

        &:after{
            content: '';
            width: 29px;
            height: 1px;
            background-color: #fff;
            position: absolute;
            bottom:-5px;
            left:0;
        }
    }

    .dato{
        display: flex;
        justify-content: left;
        align-items: center;
        color: #ffffff;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 40px;

        img{
            width: auto;
            margin-right: 7px;
        }

        p{
            margin-bottom: 0;
        }
    }

    

    ul.menu_footer{
        li{
            color: #ffffff;
            font-size: 14px;
            margin-bottom: 10px;
            padding-left: 20px;

            a{
                color: #ffffff;
                text-decoration:none;
                text-transform: uppercase;
            }

            &:before{
                content: '';
                width:15px;
                height: 15px;
                background-image: url(../images/check-white.svg);
                background-size: cover;
                position: absolute;
                top: 2px;
                left: 0;
            }
        }
    }

    article.publicaciones{
        width: 100%;
        display: flex;
        justify-content: left;
        margin-bottom: 25px;

        img{
            width: 53px;
            height: 53px;
            margin-right: 15px;
        }

        .b{
            padding-top: 2px;
            color: #ffffff;
            font-size: 12px;
            line-height: 16px;

            .tit{
                margin-bottom: 5px;
            }
        }

        &:hover{
            .b{
                .tit, .fecha{
                    text-decoration: underline;
                }
            }
        }
    }

    .line{
        width: 100%;
        height: auto;
        padding-top: 25px;
        border-bottom:1px solid #fff;
        margin-bottom: 30px;
    }

    .detalle_inferior{
        display: flex;
        justify-content: right;
        align-items: center;

        .dot{
            width:4.75px;
            height: 4.75px;
            border-radius: 50%;
            margin: 0 15px;
            background-color: #DF2523;
        }

        a{
            color: #ffffff;
            text-decoration:none;

            &:hover{
                text-decoration: underline;
            }
            
        }
    }

    
}


@media (max-width:580px){
    footer {
        .caja_gris_footer {
            width: 100%;
            .imagen{
                margin-right: 7px;
            }
        }
    }
}