@font-face {
    font-family: 'truenobold';
    src: url('fonts/trueno/truenobd-webfont.woff2') format('woff2'),
         url('fonts/trueno/truenobd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'truenoblack';
    src: url('fonts/trueno/truenoblk-webfont.woff2') format('woff2'),
         url('fonts/trueno/truenoblk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'truenolight';
    src: url('fonts/trueno/truenolt-webfont.woff2') format('woff2'),
         url('fonts/trueno/truenolt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'truenoregular';
    src: url('fonts/trueno/truenorg-webfont.woff2') format('woff2'),
         url('fonts/trueno/truenorg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'truenosemibold';
    src: url('fonts/trueno/truenosbd-webfont.woff2') format('woff2'),
         url('fonts/trueno/truenosbd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'truenoultralight';
    src: url('fonts/trueno/truenoultlt-webfont.woff2') format('woff2'),
         url('fonts/trueno/truenoultlt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_HelveticaNeueItalic';
    src: url("fonts/helvetica/HelveticaNeueItalic.eot");
    src: url("fonts/helvetica/HelveticaNeueItalic.eot?#iefix") format("embedded-opentype"), url("fonts/helvetica/HelveticaNeueItalic.woff") format("woff"), url("fonts/helvetica/HelveticaNeueItalic.ttf") format("truetype"), url("fonts/helvetica/HelveticaNeueItalic.svg#Conv_HelveticaNeueItalic") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Conv_HelveticaNeueLight';
    src: url("fonts/helvetica/HelveticaNeueLight.eot");
    src: url("fonts/helvetica/HelveticaNeueLight.eot?#iefix") format("embedded-opentype"), url("fonts/helvetica/HelveticaNeueLight.woff") format("woff"), url("fonts/helvetica/HelveticaNeueLight.ttf") format("truetype"), url("fonts/helvetica/HelveticaNeueLight.svg#Conv_HelveticaNeueLight") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Conv_HelveticaNeueMedium';
    src: url("fonts/helvetica/HelveticaNeueMedium.eot");
    src: url("fonts/helvetica/HelveticaNeueMedium.eot?#iefix") format("embedded-opentype"), url("fonts/helvetica/HelveticaNeueMedium.woff") format("woff"), url("fonts/helvetica/HelveticaNeueMedium.ttf") format("truetype"), url("fonts/helvetica/HelveticaNeueMedium.svg#Conv_HelveticaNeueMedium") format("svg");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Conv_HelveticaNeueBold';
    src: url("fonts/helvetica/HelveticaNeueBold.eot");
    src: url("fonts/helvetica/HelveticaNeueBold.eot?#iefix") format("embedded-opentype"), url("fonts/helvetica/HelveticaNeueBold.woff") format("woff"), url("fonts/helvetica/HelveticaNeueBold.ttf") format("truetype"), url("fonts/helvetica/HelveticaNeueBold.svg#Conv_HelveticaNeueBold") format("svg");
    font-weight: normal;
    font-style: normal;
  }