.wrapper {
  
    header {
        width: 100%;
        z-index: 10;
        position: relative;        
        z-index: 8000;
        background-color: rgba(159, 12, 22, 0.4);
        position: fixed;
        @include transition(all 0.1s ease-out);

        * {
            @include transition(all 0.1s ease-out);
        }       

        .box_topper {
            width: 100%;                        
            z-index: 3;
            @include transition(none);
            padding-top: 0;

            > .container{
                position: static;
                @include transition(all 0.3s ease-out);
                display: flex;
                height: 107px;
                justify-content: space-between;
                align-items: center;
                align-self: center;
            } 

            .logo {
                width: 190px;                
            } 

           .superior{
               max-width: 100%;        
               width: 136px;   
               padding: 10px 7px 7px;               
               background-color: #808183;
               position: absolute;
               top: 0;
               right: 0;
               display: flex;
               justify-content: space-between;

               .ico{
                   width: 21px;
               }

               
           }

            nav {
                width: 100%;
                z-index: 6;                
                text-align: right;
                max-width: 900px;

                ul.menu {
                    width: 100%;
                    font-size: 0;
                    margin-bottom: 0;
                    text-align: right;
                    position: relative;
                    top: auto;
                    right: 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    > li {
                        width: auto;
                        height: auto;
                        text-align: left;
                        color: $color-texto;
                        font-size: 14px;
                        margin: 0 0;
                        border-radius: 0 0 0;
                        position: relative;
                        vertical-align: middle;
                        margin: 0 1px;
                        vertical-align: top;
                        border-radius: 9px;
                        padding-top: 10px;
                        

                        a.full {
                            z-index: 3000;
                        } 

                        

                        .menu_padre{
                            padding: 0;
                            border-radius: 9px;
                            font-size: 14px;
                            text-transform: uppercase;
                            color: #ffffff;
                        }

                        ul.sub_menu{

                            position: absolute;
                            top: 100%;
                            left: 0;
                            width: calc(100% - 20px);
                            display: none;
                            min-width: 188px;
                            padding-top: 20px;

                            li{
                                width: 100%;
                                background-color: rgba(#9F0C16, 0.5);
                                margin-bottom: 0;
                                color: #ffffff;
                                text-transform: uppercase;
                                padding: 6px 10px;
                                text-align: left;
                                font-size: 14px;
                                font-weight: 500;
                                border-bottom:1px solid #ffffff;

                                &:hover{
                                    background-color: rgba(#000000, 0.5);
                                    color:#ffffff;
                                }
                            }

                            li:last-child{
                                border-bottom: 0;
                            }
                        }

                        &:hover, &.activo{
                            .menu_padre{
                                text-decoration: underline;                             
                            }                            
                        }

                        &:hover{
                            .sub_menu{
                                display: block;
                            }
                        }
                    } 
                    
                    li.redes{
                        display: flex;
                        width: 130px;
                        justify-content: space-between;
                    }
                }                 
            }
        }        
    }

    header.headerEstatico{
        position: fixed;
        background-color: rgba(159, 12, 22, 0.95);

       
    
        

        .box_topper{
            nav {
                ul.menu {
                    > li {
                        ul.sub_menu {
                            li{
                                background-color: rgba(#9F0C16, 0.8);

                                &:hover{
                                    background-color: rgba(#000000, 0.8);
                                }
                            }
                        }
                    }
                }
            }       
        }
    }

    .menu_mobile {
        display: none;
    }

  	@media screen and (min-width: 1201px) {
		header.banner_bar {
			

			.box_topper {
				top: 0;
				position: fixed;
                height: 48px;
                background-color: rgba($color: #000000, $alpha: 0.8);				
			}
		}
  	}	
}



@media (min-width: 1001px) {

}

@media (max-width: 1200px) {

    .wrapper {
        padding-top: 0;

        header {
            width: 100%;
            height: 0;            
            position: fixed;
            top: 0;
            left: 0;
            z-index: 888888;
            display: block;
            overflow: auto;
            padding-top: 60px;

          

            .container {
                width: 100%;
                height: auto;                
                background-image: none;
                padding-top: 0;

                .logo {
                    display: none;
                }
            }

            .box_topper {
                height: auto;
                padding-top: 0;
                background-color: #ffffff;
                padding-right: 0;
                padding-left: 0;
                position: relative;
                top: auto;

                .container{
                    height: calc(100vh - 60px);
                    padding-right: 0;
                    padding-left: 0;
                    display: block;
                }

                nav {
                    width: 100%;
                    float: none;
                    margin-top: 0;
                    position: relative;
                    top: 0;
                    border-bottom: 0;
                    background-image: none;
                    background-color: #ffffff;
                    max-width: none;

                    
                   
                    ul.menu {
                        width: 100%;
                        padding-bottom: 0;
                        display: block;
                        border-top: 0;
                        position: relative;
                        top: auto;
                        text-align: left;
                        vertical-align: middle;

                        * {
                            @include transition(none);
                        }                        

                        > li {
                            width: 100%;
                            height: auto;
                            float: none;
                            color: $color-celeste;
                            cursor: pointer;
                            margin: 0;
                            border-radius: 0;
                            border-bottom: 1px solid rgba(#000000, 0.3);
                            text-transform: uppercase !important;                           

                            &:hover{
                                background-color: $color-rojo;
                                color: #ffffff;

                                .menu_padre{
                                    color: #ffffff;
                                }
                            }

                            .menu_padre{
                                color: $color-texto;                                
                                padding: 12px 15px;
                                span{
                                    &:before{display: none !important;}
                                }
                            }

                            ul.sub_menu{
                                position: relative;
                                width: 100%;
                                padding-top: 0;

                                li{
                                    padding: 9px 15px 9px 30px;
                                    margin-bottom: 0;
                                    border-bottom:1px solid $color-rojo;
                                }
                            }
                        }

                        > li:last-child{
                            border-bottom: 0;
                            background-color: #777777;
                            width: 100%;
                            padding: 20px;
                            justify-content: flex-start;

                            .ico{
                                margin-right: 10px;
                            }
                        }


                        li.activo, li.abierto {                            
                            background-color: $color-rojo;
                            color: #ffffff;  
                            
                            .menu_padre{
                                color: #ffffff;
                                text-decoration: none;
                            }
                            
                            ul.sub_menu{
                                display: block;
                                padding-top: 0;

                                li{
                                    background-color: rgba(#000000, 0.3);
                                }
                            }
                        }

                        
                        li.tlf_central{
                            width: calc(100% - 15px);
                            max-width: 240px;
                            margin:20px 0 20px 15px;
                        }

                        li.menu_lupa_gris, li.menu_file{
                            display: inline-block;
                            margin-left: 15px;
                            border-bottom:0;
                            vertical-align: middle;
                        }

                        li.menu_plus{
                            .menu_padre{
                                a{
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .superior {
                    background-color:#ffffff;
                    padding: 16px;
                    text-align: left;
                    justify-content: left;
                    display: block;
                    position: relative;
                    display: block;
                    left: auto;
                    right: auto;
                    top: auto;

                    .container{
                        height: auto;
                        display: block;
                    }
                    .item{
                        margin-left: 0;
                        margin-right: 20px;   
                        justify-content: left;  
                        margin-bottom: 15px; 
                        color:$color-texto;
                        margin-left: 0;

                        .ico{
                            display: none;
                        }
                        
                        &.red{
                            display: inline-block;
                        }
                    }
                }
            }
        }

        .menu_mobile {
            display: block;
            width: 100%;
            height: 60px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 999999999;
            background-color: $color-rojo;
            -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.49);
            -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.49);
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.49);

            .logo {
                left: 20px;
                position: absolute;
                top: 3px;
                width: 73%;
                max-width: 105px;
                z-index: 2;
            }

            .sanguche {
                width: 25px;
                position: absolute;
                top: 22px;
                right: 25px;
                cursor: pointer;

                .lines {
                    width: 100%;
                    height: 4px;
                    border-radius: 1px;
                    margin-bottom: 4px;
                    background-color: #ffffff;
                }
            }

            .mobile_tools {
                width: auto;
                position: absolute;
                top: 16px;
                right: 23px;
                cursor: pointer;
                text-align: right;
                display: none;

                .btn_close {
                    width: 32px;
                    height: 32px;
                    display: inline-block;
                    cursor: pointer;
                    margin-left: 12px;
                    padding-top: 2px;
                }
            }
        }

        header.mobile {
            height: 100%;
            right: 0;
            position: fixed;
        }

        .menu_mobile.activado {
            display: block;
        }
    }
}

@media (max-width: 480px) {
    .wrapper {
        header {
            .box_topper {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}
