.wrapper_home{
	width: 100%;

	section{
		width: 100%;
		margin: 0 auto;

		.banner{
			width: 100%;
			background-size: cover;
			font-size: 0;
			font-family: 'Conv_HelveticaNeueMedium' !important;

			.container{
				height: 700px;
				padding-top: 120px;
				display: flex;
				justify-content: center;
				align-items: center;

				.box{
					text-align: center;
					max-width: 900px;
					h1{
						font-size: 60px;
						line-height: 67px;
						text-align: center;
						color: #ffffff;
						text-transform: uppercase;

						&.txt_left{
							text-align: left;
							font-size: 40px;
							line-height: 46px;
							margin-bottom: 30px;
						}

						
					}

					.subtitulo{
						font-size: 20px;
						line-height: 30px;
						text-align: center;
						color: #ffffff;
						margin-bottom: 35px;
					}

					.small_text{
						font-size: 26px;
						line-height: 30px;
						text-align: center;
						color: #ffffff;
						margin-bottom: 15px;
					}

					.btn_dona{
						width: 178px;
						height: 49px;
						border-radius: 24.5px;
						background-color: #fff;
						text-align: center;
						padding-top: 11px;
						text-transform: uppercase;
						font-size: 16px;
						color: $color-rojo;
						margin: 0 auto;
						@include transition(all 0.2s ease-out);

						&:hover{
							width: 200px;
							background-color: $color-rojo;
							color: #ffffff;
						}
					}

					.ver_video{
						width: 200px;
						cursor: pointer;

						*{
							@include transition(all 0.2s ease-out);
						}

						&:hover{
							img{transform: scale(1.1)}
						}
					}
				}	
				
				.box._align_left{
					text-align: left;
					position: relative;
					padding-left: 372px;
					max-width: 920px;
					bottom:0;
					transform: translate(0);
					position: absolute;
					padding-bottom: 20px;

					.mapa{
						max-width: 352px;
						position: absolute;
						left:0;
						top: 0;
					}

					h1{
						text-align: left;
						font-size: 40px;
						line-height: 45px;
						font-weight: bold;
					}

					.small_text{
						text-align: left;
					}
					.subtitulo{
						text-align: left;						
						font-size: 27px;
						line-height: 33px;
					}

					.btn_dona{
						margin: 0 0 68px 0;
						border:1px solid #ffffff;

						
					}

					.numero_big{
						font-size: 230px;
						line-height: 230px;
						color: #ffffff;
						position: relative;
						bottom:0;
						right: 0;
						font-family: 'Conv_HelveticaNeueBold';
						width: 850px;
					}
				}
			}

			.container.container_left{
				justify-content: left;
				.box._align_left{
					max-width: 450px;
					padding: 0;
					margin: 0;
					.small_text{
						margin-bottom: 25px;
					} 

					.subtitulo{
						font-size: 18px;
						line-height: 24px;
						margin-bottom: 40px;
						font-family: 'Conv_HelveticaNeueMedium';

						br{
							display: none;
						}

					}
				}
			}

			li{
				background-size: cover;
				font-size: 0;
				background-position: center;
			}

			.bx-wrapper{
				.bx-controls.bx-has-controls-direction{
					position:static;
					.bx-controls-direction{
						position: static;
	
						a{
							width: 27.15px;
							height: 27.15px;
						}
	
						a.bx-prev{
							background-image: url(../images/slider-flecha-left.svg);
						}
	
						a.bx-next{
							background-image: url(../images/slider-flecha-right.svg);
						}
					}
				}
			}

			
			
		}

		.n2-ss-slider .n2-ow{
			font-family: 'Conv_HelveticaNeueMedium' !important;
		}

		.seccion_organizacion{
			padding-top: 28px;
			padding-bottom: 70px;
			.h2{
				color: $color-rojo;
				font-size: 30px;
				line-height: 36px;
				text-align: center;
				font-family: 'Conv_HelveticaNeueBold';

				span{
					color: $color-amarillo
				}

			}

			.subtitulo{
				text-align: center;
				color: $color-texto;
				font-size: 18px;
				line-height: 26px;
				max-width: 665px;
				margin: 0 auto 70px;
			}

			article{

				*{
					@include transition(all 0.2s ease-out);
				}

				.imagen{
					overflow: hidden;
				}
				
				.caja{
					background-color: #F8F4F5;
					width: 100%;
					padding: 17px 15px 26px;

					.tit{
						color: $color-rojo;
						text-transform: uppercase;
						margin-bottom: 15px;
						height: 39px;
						line-height: 20px;
						font-size: 16px;
						overflow: hidden;
					}

					.texto{
						font-size: 12px;
						line-height: 18px;
						overflow: hidden;
						margin-bottom: 15px;
						height: 125px;
					}

					.leer{
						color: $color-rojo;
						font-size: 14px;
						color: $color-naranja;
					}
				}

				&:hover{
					.imagen{
						img{
							transform: scale(1.1);
						}
					}
					.caja{
						background-color: #e2e2e2;
					}
				}
			}
		}

		.seccion_gracias_auspiciadores{
			background-color: #F1EDEE;
			padding: 30px 0;
			margin-bottom: 10px;
			.container{
				.titulo{
					color: $color-naranja;
					text-transform: uppercase;
					font-size: 20px;
					line-height: 22px;
					margin-bottom: 20px;
					text-align: center;
				}

				.lista_logos{
					width: 100%;
					display: flex;
					justify-content: space-between;

					img{
						width: 178px;
					}
				}
			}
		}

		.seccion_alianzas{
			background-color: #F1EDEE;
			padding: 30px 0;
			margin-bottom: 130px;
			.container{
				.titulo{
					color: $color-rojo;
					text-transform: uppercase;
					font-size: 20px;
					line-height: 22px;
					margin-bottom: 20px;
					text-align: center;
				}

				.lista_logos{
					width: 100%;
					display: flex;
					justify-content: space-between;
					padding: 20px 15px;
					background-color: #fff;

					img{
						width: auto;
						margin: 0 auto;
					}
				}
			}
		}

		.seccion_testimonios{
			padding: 40px 0 10px;
			margin-bottom: 80px;
			background: rgb(180,113,115);
			background: linear-gradient(270deg, rgba(162,78,81,1) 0%, rgba(125,11,18,1) 20%, rgba(130,18,22,1) 100%);
			background-image: url(../images/testimonios-fondo.jpg);
			background-size: cover;

			.container{
				max-width: 950px;
			}

			.titulo{
				color: #ffffff;
				text-align: center;
				font-size: 30px;
				font-weight: bold;
				font-family: 'Conv_HelveticaNeueBold';
				margin-bottom: 40px;
				text-transform: uppercase;
			}

			.lista_testimonios{
				.item{                      
					padding: 50px 60px 15px;
					margin-bottom: 30px;

					&:before{
						content: '';
						width: 100%;
						height: calc(100% - 136px);
						background-color: rgba(#000000, 0.47);
						border-radius: 12px;
						position: absolute;
						top: 0;
						left: 0;
						z-index: 1;
					}

					.comillas{
						width: 58px;
						height: 46px;
						background-image: url(../images/comillas.png);
						margin: 0 auto 30px;
						background-size: cover;
						z-index: 10;
					}

					.texto{
						color: #ffffff;
						text-align: center;
						font-size: 16px;
						line-height: 22px;
						margin-bottom: 35px;
						z-index: 10;
					}

					.foto{
						width: 72px;
						margin: 0 auto 20px;
						z-index: 10;
					}

					.name{
						color: #ffffff;
						font-size: 20px;
						line-height: 18px;
						text-align: center;
						margin: 0 auto 10px;
						z-index: 10;
					}
					.empresa{
						color: #ffffff;
						font-size: 14px;
						line-height: 15px;
						text-align: center;
						margin: 0 auto 10px;
						z-index: 10;
					}    
				}
			}
		}
		
		

		.seccion_nuestro_blog{
            padding-top: 70px;
            .subtitulo{
                width: 100%;
                color:$color-texto;
                text-transform: uppercase;
                text-align: center;
                font-size: 19px;
                line-height: 23px;
                margin-bottom: 7px;
            }

            .titulo{
                width: 100%;
                color:$color-naranja;
                text-transform: uppercase;
                text-align: center;
                font-size: 30px;
                line-height: 32px;
                margin-bottom: 40px;
                font-family: 'Conv_HelveticaNeueBold';
            }

			.lista_blog{
				article{
					margin-bottom: 40px;
					.b{
						background-color: #F8F4F5;
						padding: 20px 20px 30px;
						.tit{
							color: $color-rojo;
							text-transform: uppercase;
							font-size: 16px;
							line-height: 22px;
							margin-bottom: 7px;
							@media(min-width:1280px){
								min-height: 42px;
							}
						}
						.texto{
							overflow: hidden;
							display: -webkit-box;
							-webkit-line-clamp: 5;
							-webkit-box-orient: vertical;
							color: $color-texto;
							font-size: 14px;
							line-height: 18px;
							margin-bottom: 10px;
							min-height: 70px;
							padding: 0;
						}
	
						.pie{
							width: 100%;
							justify-content: space-between;
							display: flex;
							margin-bottom: 15px;
	
							.autor{
								font-size: 12px;
								color: #959696;
							}
							.autor:empty{
								display: none;
							}
							.fecha{
								font-size: 12px;
								color: #959696;
							}
						}
	
						.btn_leer{
							color: $color-naranja;
							font-size:14px;
	
						}
					}
	
					&:hover{
						.b{
							background-color: #C6C6C6;
						}
					}
				} 			
			}
        }
	} 	
}

@media (max-width:1300px){
	.wrapper_home {
		section {
			.seccion_gracias_auspiciadores {
				.container {
					.lista_logos{
						display: block;
						text-align: center;

						img{
							display: inline-block;
							margin: 0 20px 20px;
						}

					}
				}
			}

			.seccion_alianzas {
				.container-fluid {
					.lista_logos{
						display: block;
						text-align: center;

						img{
							display: inline-block;
							margin: 0 20px 20px;
						}
					}
				}
			}
		}
	}
}

@media (max-width:1000px){
	.wrapper_home {
		section {
			.banner {
				.container {
					height: 400px;
					.box._align_left {
						padding-left: 20px;
						padding-right: 20px;
						text-align: center;
						bottom: auto;
						top: auto;
						position: relative;
						.mapa{
							display: none;
						}
						h1{
							font-size: 26px;
							line-height: 30px;
							text-align: center;

							span{
								font-size: 22px;
								line-height: 26px;
							}
						}

						.subtitulo{
							text-align: center;
						}
						.numero_big{
							display: none;
						}

						.btn_dona{
							margin: 0 auto;
						}
					}
				}
			}		
		}
	}
}

@media (max-width:768px){
	.wrapper_home {
		section {
			.banner {
				.container {
					height: 400px;
					padding-top: 20px;
					.box {
						h1{
							font-size: 24px;
							line-height: 30px;

							span{
								font-size: 22px;
								line-height: 26px;
							}
						}

						.small_text{
							font-size: 20px;
						}

						.subtitulo{
							br{
								display: none;
							}
						}
					}
				}

				.marco{
					height: 40px;
					margin-bottom: -2px;
				}
			}

			.seccion_organizacion {
				.h2{
					font-size: 24px;
					line-height: 30px;
				}
			}	
			
			.seccion_organizacion {
				article {
					margin-bottom: 25px;
					.caja {						
						.tit{
							height: auto;
							br{
								display: none;
							}
						}
						
						.texto{
							height: auto;
							margin-bottom: 20px;
						}
					}
				}
			}
		}
	}
}

@media (max-width:580px){
	.wrapper_home {
		section {
			.banner {

				li{
					&:before{
						content: '';
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						background-color: rgba(#000000, 0.4);
						z-index: 1;
					} 
				}    

				
				.container {
					z-index: 2;					
					padding: 50px 40px 40px;
					z-index: 10;
					.box {
						h1{
							br{
								display: none;
							}

							&.txt_left{
								font-size: 24px;
								line-height: 30px;
							}
						}
						.subtitulo{							
							font-size: 16px;
							line-height: 20px;							
						}

						&._align_left {
							.subtitulo{
								font-size: 16px;
								line-height: 20px;
							}
						}
					}

					&.container_left{
						.box._align_left {
							h1{
								font-size: 24px;
								line-height: 30px;
							}
							.subtitulo{
								font-size: 16px;
								line-height: 20px;
							}

							.small_text{
								text-align: center;
								margin-bottom: 0 !important;
								font-size: 16px;
								line-height: 23px;
							}
						}
					}
					
				}

				
			}

			.seccion_organizacion {
				.subtitulo{
					font-size: 16px;
					line-height: 20px;	
				}
			}

			.seccion_testimonios {
				.titulo{
					font-size: 24px;
				}
			}
		}
	}
}





