.wrapper_interna{   

    a{
       color: $color-celeste;
       text-decoration: underline;
    }

    .seccion_principal {

        .banner{
            background-size: cover;
            background-position: center;
    
           .container{
                height:700px;
                display: flex;
                align-items: center;  
                justify-content: left; 
                max-width: 1060px;  
                
                .box{
                    max-width: 690px;
                    h1{
                        color: #ffffff;
                        font-size: 40px;
                        line-height: 50px;
                        text-transform: uppercase; 

                        span{
                            font-size: 30px;
                        }
                    }
    
                    .subtitulo{
                        color: #ffffff;
                        font-size: 20px;
                        line-height: 30px;
                    }

                    .logo_mujeres_roca{
                        width: calc(100% - 30px);
                        max-width:540px;
                    }
                }
    
                .btn_donaaqui{                
                    width: 178px;
                    height: 49px;
                    border-radius: 24.5px;
                    background-color: #fff;
                    text-align: center;
                    padding-top: 11px;
                    text-transform: uppercase;
                    font-size: 16px;
                    color: $color-rojo;
                    position: absolute;
                    bottom:30px;
                    right: 15px;
                    @include transition(all 0.2s ease-out);
    
                    &:hover{
                        width: 200px;
                        background-color: $color-rojo;
                        color: #ffffff;
                    }
                    
                } 
                
                .btn_donaaqui.btn_blanco{
                    background-color: $color-rojo;
                    color: #ffffff;
                    
                }
                
                .logo_duo{
                    width: calc(100% - 30px);
                    max-width: 338px;
                    position: absolute;
                    bottom:30px;
                    left: 15px;
                }
            }

            .container.container_asociacion{
                max-width: 1250px;

                .box{
                    max-width: none;
                }
            }
        }

        .banner.banner_especial{
            .container{
                height:700px;
                display: flex;
                align-items: center;  
                justify-content: center;

                .box{
                    h1{
                        color: #ffffff;
                        font-size: 40px;
                        line-height: 50px;
                        text-transform: uppercase;
                        text-align: center;

                        span{
                            font-size: 30px;
                        }
                    }
    
                    .subtitulo{
                        color: #ffffff;
                        font-size: 18px;
                        line-height: 24px;
                        margin-bottom: 30px;
                        text-align: center;
                    }

                    .testimonio_detalle{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .foto_marco{
                            width: 278px;
                        }

                        .b{
                            max-width: 635px;
                            padding-left: 60px;
                            &:before{
                                content: '';
                                width: 22px;
                                height: 18px;
                                background-repeat: no-repeat;
                                background-size: cover;
                                position: absolute;
                                top: 5px;
                                left:15px;
                                background-image: url(../images/comillas-amarilla.png);
                            }
                            .texto{
                                color: #ffffff;
                                font-size: 16px;
                                line-height: 30px;
                                font-family: 'Conv_HelveticaNeueLight';
                            }
                            .nombre{
                                color: $color-amarillo;
                                font-size: 20px;
                            }
                            .cargo{
                                color: $color-amarillo;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }

        .banner.banner_fondo_red{
            background: rgb(180,113,115);
                background: linear-gradient(270deg, rgba(162,78,81,1) 0%, rgba(125,11,18,1) 20%, rgba(130,18,22,1) 100%);
            .container{ 
                justify-content: left;

                .box{
                    padding-left: 560px;
                    .tablet{
                        position: absolute;
                        top: 70%;
                        transform: var(--medioVertical);
                        left: 0;
                    }
                    h1{
                        color: #ffffff;
                        font-size: 40px;
                        line-height: 50px;
                        text-transform: uppercase;
                        text-align: left;
                        span{
                            font-size: 30px;
                        }
                    }
    
                    .subtitulo{
                        color: #ffffff;
                        font-size: 18px;
                        line-height: 24px;
                        margin-bottom: 30px;
                        text-align: left;
                    }
                }
            }
        }

        .banner.banner_chico{
            .container{
                height: 413px;
            }
        }

        .banner.banner_libros{              
           .container{                                
                .box{
                    .subtitulo{
                        color: #ffffff;
                        font-size: 20px;
                        line-height: 24px;
                        text-transform: uppercase; 
                        margin-bottom: 2px;
                    }

                    h1{
                        color: #ffffff;
                        font-size: 30px;
                        line-height: 34px;
                        text-transform: uppercase; 
                        margin-bottom: 2px;

                        p{
                            margin-bottom: 0;
                        }

                        span{
                            font-size: 30px;
                        }


                        @media (max-width:580px){                            
                            font-size: 24px;
                            line-height: 27px;                            
                        }
                    } 

                    .parrafo{
                        color: #ffffff;
                        font-size: 20px;
                        line-height: 24px;
                        text-transform: uppercase; 
                        margin-bottom: 2px;
                    }                    
                }               
            }
        }

        > section{
            padding: 20px 0 70px;

            .breadcrumb_caja{
				background-color: transparent;
				height: auto;
                margin-bottom: 50px;

				&.mobile{
					display: none;
				}
				
				ul.breadcrumb {
					padding: 5px 15px 12px 0;
					list-style: none;
					background-color: transparent;
					margin-bottom: 0;

					list-style-type: none;
					white-space: nowrap;
					overflow: hidden;
					display: block;
					text-overflow: ellipsis;


					li {
						display: inline;
						font-size: 14px;
						vertical-align: middle;
						padding-left: 0;
						line-height: 15px;
						margin-bottom: 3px;
						font-family: 'Conv_HelveticaNeueMedium';
                        color: #C6C6C6;
						

						&:last-child{
							&:after{
								display: none;
							}
						}

						a {
							color: #C6C6C6;
							text-decoration: none;
							font-weight: 300;
                            text-transform: uppercase;

							img.homer{
								margin-top: 3px;
							}

							&:hover {					
								color: $color-rojo;
								text-decoration: none;
							}
							&.activo {	
								color: $color-rojo;				
							}
						}
					}

					li+li+li{					
						@media (max-width: 420px){
							text-overflow:ellipsis;
							overflow: hidden;
							white-space: nowrap;
							max-width: 200px;
						}
					}

					/*li+li:before {
						width: 6px;
						height: 8px;
						color: black;
						background-image: url(../images/flecha-right-breadcrumb.png);
						background-position: top;
						content: '';
						display: inline-block;
						margin: 0 10px;
						position: absolute;
						top: 4px;
						left: 0;
					}		

					li:first-child{
						position: absolute;
						left: 15px;
						padding: 0;
						top: 10px;
					}*/
				}			
			}

            .btn_menu_lateral{
                display: none;
            }

            ul.menu_lateral{
                padding: 0;
                margin-bottom: 30px;

                @media (min-width:769px){
                    display: block !important;
                }

                li{ 
                    width: 100%;
                    padding: 10px 0;
                    border-bottom:1px dashed #707070;
                    color: $color-naranja;
                    font-size: 16px;
                    line-height: 23px;
                    @include transition(all 0.2s ease-out);
                    font-family: 'Conv_HelveticaNeueMedium';
                    text-transform: uppercase;

                    &:hover{
                        padding-left: 20px;
                    }

                    &.activo{
                        color: $color-rojo;

                        &:hover{
                            padding-left: 0;
                        }
                    }
                }

                li:last-child{
                    border-bottom: 0;
                }
            }
            
            ul.menu_lateral.sub_menu{
                li{
                    padding-left: 15px;
                    font-size: 14px;
                    color:#7E7E7E;

                    &:hover{
                        padding-left: 25px;
                    }
                    &.activo{
                        color: $color-naranja;

                        &:hover{
                            padding-left: 15px;
                        }
                    }
                } 

                li:first-child{
                    padding-left: 5px;
                    color: $color-rojo;
                    font-size: 16px;
                    &:hover{
                        padding-left: 0;
                    }
                }
            } 

            h3{
                font-size: 19px;
                line-height: 23px;
                color: #696768;  
                margin-bottom: 5px;
                text-transform: uppercase;
            } 

            h2.titulo_libros{
                text-align: left;
                color: $color-naranja;
                margin: 0 0 50px;

            }

            h2{
                width: 100%;
                text-align: center;
                font-size: 30px;
                font-weight: 700;
                font-family: 'Conv_HelveticaNeueBold';
                text-transform: uppercase;
                color: $color-rojo;
                max-width: 800px;
                margin: 0 auto 50px;

                &.h2_naranja{
                    color: $color-naranja;
                }
            }

            .foto{
                margin-bottom: 20px;
            }

            .texto{
                font-size: 14px;
                line-height: 19px;
                color: #161615;

                span{
                    color: $color-amarillo;
                    font-family: 'Conv_HelveticaNeueMedium';
                    font-weight: 700;
                }

                span.orange{
                    color: $color-naranja;
                } 

                span.medium{
                    font-weight: 400;
                    margin-bottom: 10px;
                    display: block;
                }

                span.mayor{
                    color: $color-naranja;
                    text-transform: uppercase;
                }

                span.capi{
                    text-transform: uppercase;
                } 

                p{
                    margin-bottom: 24px;
                } 
                &.texto_centrado{
                    text-align: center;
                }

                strong{
                    color: #000000;
                    font-family: 'Conv_HelveticaNeueBold';
                }
            }

            .texto.texto16{
                font-size: 16px;
                line-height: 22px;
            }

            .subtitulo{
                font-size: 14px;
                line-height: 18px;
                color: $color-naranja;
                text-transform: uppercase;
                margin-bottom: 0px;
                font-family: 'Conv_HelveticaNeueBold';
            }

            .seccion_gracias_auspiciadores{
                background-color: #F1EDEE;
                padding: 30px 0;
                margin-bottom: 10px;
                .container{
                    .titulo{
                        color: $color-naranja;
                        text-transform: uppercase;
                        font-size: 20px;
                        line-height: 22px;
                        margin-bottom: 20px;
                        text-align: center;
                    }
    
                    .lista_logos{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
    
                        img{
                            width: 178px;
                        }
                    }
                }
            }
    
            .seccion_alianzas{
                background-color: #F1EDEE;
                padding: 30px 0;
                margin-bottom: 80px;
                .container{
                    .titulo{
                        color: $color-rojo;
                        text-transform: uppercase;
                        font-size: 20px;
                        line-height: 22px;
                        margin-bottom: 20px;
                        text-align: center;
                    }
    
                    .lista_logos{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        padding: 20px 15px;
                        background-color: #fff;
    
                        img{
                            width: auto;
                            margin: 0 auto;
                        }
                    }
                }
            }

            .seccion_testimonios{
                padding: 40px 0 10px;
                margin-bottom: 80px;
                background: rgb(180,113,115);
                background: linear-gradient(270deg, rgba(162,78,81,1) 0%, rgba(125,11,18,1) 20%, rgba(130,18,22,1) 100%);
                background-image: url(../images/testimonios-fondo.jpg);
                background-size: cover;
    
                .container{
                    max-width: 950px;
                }
    
                .titulo{
                    color: #ffffff;
                    text-align: center;
                    font-size: 30px;
                    font-weight: bold;
                    font-family: 'Conv_HelveticaNeueBold';
                    margin-bottom: 40px;
                    text-transform: uppercase;
                }
    
                .lista_testimonios{
                    .item{                      
                        padding: 50px 60px 15px;
                        margin-bottom: 30px;
    
                        &:before{
                            content: '';
                            width: 100%;
                            height: calc(100% - 136px);
                            background-color: rgba(#000000, 0.47);
                            border-radius: 12px;
                            position: absolute;
                            top: 0;
                            left: 0;
                            z-index: 1;
                        }
    
                        .comillas{
                            width: 58px;
                            height: 46px;
                            background-image: url(../images/comillas.png);
                            margin: 0 auto 30px;
                            background-size: cover;
                            z-index: 10;
                        }
    
                        .texto{
                            color: #ffffff;
                            text-align: center;
                            font-size: 16px;
                            line-height: 22px;
                            margin-bottom: 35px;
                            z-index: 10;
                        }
    
                        .foto{
                            width: 72px;
                            margin: 0 auto 20px;
                            z-index: 10;
                        }
    
                        .name{
                            color: #ffffff;
                            font-size: 20px;
                            line-height: 18px;
                            text-align: center;
                            margin: 0 auto 10px;
                            z-index: 10;
                        }
                        .empresa{
                            color: #ffffff;
                            font-size: 14px;
                            line-height: 15px;
                            text-align: center;
                            margin: 0 auto 10px;
                            z-index: 10;
                        }    
                    }
                }
            } 

            .seccion_charlas_de_hoy{
                margin-bottom: 130px;
                article{
                    display: flex;
                    align-items: center;
                    margin-bottom: 40px;
                    .imagen{
                        width: 255px;
                    }
                    .c{
                        width: calc(100% - 255px);
                        padding-left: 30px;
                        .tit{
                            color: $color-naranja;
                            text-transform: uppercase;
                            font-size: 16px; 
                            margin-bottom: 15px;                           
                        }
                        .fecha{
                            font-size: 14px;
                            line-height: 16px;
                            color:#7E7E7E;
                            margin-bottom: 10px;                           
                        }
                        .texto{
                            margin-bottom: 12px;
                        }

                        .btn_vervideo{
                            color: $color-naranja;
                            text-transform: uppercase;
                            font-size: 14px;

                            &:hover{
                                color: $color-texto;
                            }
                        }
                    }
                }
            }

            .galeria{
                margin-bottom: 80px;
                .titulo{
                    font-size: 16px;
                    text-transform: uppercase;
                    color: $color-naranja;
                    margin-bottom: 30px;
                    font-family: 'Conv_HelveticaNeueBold';
                }

                .foto{
                    margin-bottom: 25px;
                }
            }

            ul.lista_acordion{
                border-top:1px dashed #707070;
                padding-top: 15px;
                margin-bottom: 80px;
                li{
                    border-bottom:1px dashed #707070;
                    margin-bottom: 16px;
                    .titulo{
                        color: $color-naranja;
                        font-size: 16px;
                        line-height: 19px;
                        margin-bottom: 20px;
                        text-align: left;
                        font-family: 'Conv_HelveticaNeueBold';
                        text-transform: uppercase;
                        cursor: pointer;
        
                        &:after{
                            content: '';
                            width: 27px; 
                            height: 27px;
                            position: absolute;
                            top: -5px;
                            right: 15px;
                            background-image: url(../images/ico-mas.png);
                            background-size: cover;
                        }
                    }
        
                    .desplegable{
                        display: none;
                        padding-top: 10px;
                        margin-bottom: 40px;
                        .texto{
                            font-size: 14px;
                            line-height: 20px;
                            color: $color-texto;
                        }

                        table{
                            width: 100%;
                            margin-bottom: 20px;
                            margin-top: 30px;

                            tr{
                                td{
                                    width: 50%;
                                }
                            }
                        }
                    }
                }

                li.activo{
                    .titulo{
                        &:after{
                            background-image: url(../images/ico-menos.png);
                        }
                    }
                }
            }

            .caja_gris_mas_info{
                width: 100%;
                padding: 40px 20px;
                background-color: #f2f2f2;
                margin-bottom: 80px;

                .txt{
                    margin: 0 auto 16px;
                    max-width:635px;
                    font-size: 20px;
                    line-height: 30px;
                    color: $color-texto;
                    text-transform: uppercase;
                    text-align: center;
                } 

                .btn_masinfo{
                    width:100%;
                    max-width: 255px;
                    height: 43px;
                    padding-top: 11px;
                    color: #ffffff;
                    text-transform: uppercase;
                    text-align: center;
                    background-color: $color-rojo;
                    margin: 0 auto;

                    &:hover{
                        background-color: $color-amarillo;
                    }
                }                
            }

            .lista_articulos{
                article{
                    margin-bottom: 60px;
                }

                article.video_box{
                    width: 100%;

                    img{
                        margin: 0 auto;
                        max-width: 540px;
                        padding: 0;
                    }
                }

                article.hazte_socio{
                    width: 100%;
                    background-color: #f2f2f2;

                    img{
                        margin: 0 auto;
                        max-width: 540px;
                        padding: 0;
                    }
                }
            }

            .formulario{
                margin-bottom: 80px;
                .btn_enviar{
                    width: 100%;
                    height: 44px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    text-transform: uppercase;
                    font-size: 14px;
                    background-color: $color-rojo;
                    cursor: pointer;
        
                    &:hover{
                        background-color: $color-amarillo;
                    }
                }
            }

            .btn_vermas{
                width: 95px;
                height: 26.1px;
                padding-top: 3px;
                border:1px solid #7E7E7E;
                color: #7E7E7E;
                text-align: center;
                border-radius: 13px;
                font-size: 12px;
                text-transform: uppercase;

                &:hover{
                    background-color: #7E7E7E;
                    color: #ffffff;
                }
            }

            .lista_texto_imagen{
                margin-bottom: 80px;
                article{
                    padding-right: 270px;
                    margin-bottom: 60px;
                    min-height: 140px;

                    .texto{
                        margin-bottom: 15px;
                    }

                    

                    .imagen{
                        max-width: 255px;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }

                }
            }

            .lista_standar{
                article{
                    margin-bottom: 80px;
                    .imagen{
                        margin-bottom: 15px;
                    }
                    
                    .tit{
                        color: $color-naranja;
                        text-transform: uppercase;
                        font-size:15px;
                        line-height: 19px;
                        margin-bottom: 10px;
                        font-family: 'Conv_HelveticaNeueBold'; 
                    }

                    .texto{
                        margin-bottom: 22px;
                        font-size: 14px;
                        line-height: 18px;
                    } 
                    
                    .btn_info{
                        width: 151px;
                        height: 42px;
                        padding-top: 11px;
                        border:1px solid #7E7E7E;
                        color: #7E7E7E;
                        text-align: center;
                        border-radius: 21px;
                        font-size: 11px;
                        text-transform: uppercase;
                        cursor: pointer;

                        &:hover{                                                     
                            background-color: #7E7E7E;
                            color: #ffffff;  
                        }
                    }

                    
                }
            }

            .directora{
                margin-bottom: 40px;
                img{
                    margin-bottom: 15px;
                }
                .name{
                    width: 100%;
                    text-align: center;
                    color: $color-naranja;
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                .cargo{
                    width: 100%;
                    text-align: center;
                    color: $color-texto;
                    font-size: 14px;
                }
            }

            .cuadro_gris_fecha{
                width: 100%;
                padding: 40px 40px 10px;
                background-color: #ededed;

                .texto{
                    color: #7E7E7E;
                }
            }

            .lista_blog{
                article{
                    .b{
                        .tit{
                            @media(min-width:1280px){
                                min-height: 42px;
                            }
                        }
                        .texto{
                            overflow: hidden;
                            display: -webkit-box;
                            -webkit-line-clamp: 5;
                            -webkit-box-orient: vertical;
                        }

                        .pie{
                            .autor:empty{
                                display: none;
                            }
                        }
                    }
                } 

                article.blog_detalle{
                    .b{
                        .tit{
                            @media(min-width:1280px){
                                min-height: auto;
                            }
                        }
                        .texto{
                            overflow: visible;
                            display: block;
                            -webkit-line-clamp: none;
                            -webkit-box-orient: vertical;

                            ul{
                                margin-bottom: 40px;
                                li{
                                    padding-left: 25px;
                                    color: #161615;
                                    font-size: 14px;
                                    line-height: 22px;
                                    margin-bottom: 10px;

                                    &:before {
                                        content: '';
                                        width: 14.8px;
                                        height: 14.8px;
                                        background-image: url(../images/check-orange.svg);
                                        background-size: cover;
                                        position: absolute;
                                        top: 2px;
                                        left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .lista_blog, .lista_becas{
                article{
                    margin-bottom: 40px;

                    .b{
                        background-color: #F8F4F5;
                        padding: 20px 20px 30px;

                        .tit{
                            color: $color-rojo;
                            text-transform: uppercase;
                            font-size: 16px;
                            line-height: 22px;
                            margin-bottom: 7px;
                        }

                        .texto{
                            color: $color-texto;
                            font-size: 14px;
                            line-height: 18px;
                            margin-bottom: 10px;
                            min-height: 70px;
                            padding: 0;
                        }

                        .pie{
                            width: 100%;
                            justify-content: space-between;
                            display: flex;
                            margin-bottom: 15px;

                            .autor{
                                font-size: 12px;
                                color: #959696;
                            }
                            .autor:empty{
                                display: none;
                            }
                            .fecha{
                                font-size: 12px;
                                color: #959696;
                            }
                        }
                        .btn_leer{
                            color: $color-naranja;
                            font-size:14px;

                        }
                    }

                    &:hover{
                        .b{
                            background-color: #C6C6C6;
                        }
                    }
                }

                
            }

            .lista_libros{
                article{
                    margin-bottom: 40px;
                    background-color: #F8F4F5;
                    padding-top: 20px;

                    .imagen{
                        max-width: 100px;
                        margin: 0 auto;
                    }

                    .b{
                        
                        padding: 20px 20px 30px;

                        .tit{
                            color: $color-rojo;
                            text-transform: uppercase;
                            font-size: 16px;
                            line-height: 22px;
                            margin-bottom: 7px;
                        }

                        .texto{
                            color: $color-texto;
                            font-size: 14px;
                            line-height: 18px;
                            margin-bottom: 10px;
                            min-height: 70px;
                            padding: 0;
                        }

                        .pie{
                            width: 100%;
                            justify-content: space-between;
                            display: flex;
                            margin-bottom: 15px;

                            .autor{
                                font-size: 12px;
                                color: #959696;
                            }
                            .autor:empty{
                                display: none;
                            }
                            .fecha{
                                font-size: 12px;
                                color: #959696;
                            }
                        }
                        .btn_leer{
                            color: $color-naranja;
                            font-size:14px;

                        }
                    }                   
                } 

                .btn_ver_mas_libros{
                    width: 100%;
                    max-width: 180px;
                    padding: 15px 0;
                    font-size: 14px;
                    line-height: 16px;
                    background-color: $color-rojo;
                    color: #ffffff;
                    text-align: center;
                    cursor: pointer;
                    border:0;
                    margin: 0 auto;

                    &:hover{
                        background-color: $color-naranja;
                    }
                }

                
            }

            aside{
                .listado_lateral_de_blogs{
                    margin-bottom: 30px;
                    .titulo{
                        text-transform: uppercase;
                        font-size: 16px;
                        padding-bottom: 10px;
                        border-bottom:1px dashed #707070;
                        margin-bottom: 15px;
                        &.rojo{
                            color: $color-rojo;
                        }
                        &.naranja{
                            color: $color-naranja;
                        }
                    }
                }
            }

            .btn_regresar{
                width: 163px;
                height: 42px;
                padding-top: 10px;
                border:1px solid $color-naranja;
                color:  $color-naranja;
                text-align: center;
                border-radius: 21px;
                font-size: 14px;
                text-transform: uppercase;

                &:hover{
                    background-color: $color-naranja;
                    color:#ffffff;
                }
            }

            .seccion_programacion_2022{
                margin-bottom: 120px;


                @media (max-width: 580px){
                    margin-bottom: 70px;
                }
            }

            article.docentes{
                margin-bottom: 40px;

                .nombre{
                    color: #000000;
                    font-family: 'Conv_HelveticaNeueBold';
                    font-size: 14px;
                }

                .texto{
                    margin-bottom: 0;
                }
            }

            article.lista_congreso{
                margin-bottom: 30px; 

                .tit{
                    color: $color-naranja;
                    text-transform: uppercase;
                    font-size: 14px;
                    margin-bottom: 5px;
                    font-family: 'Conv_HelveticaNeueBold';
                }
            }

            


        }

        section.seccion_conocenos{

            .seccion_quienes_somos, .seccion_objetivos, .seccion_nuestro_compromiso, .seccion_nuestro_equipo{
                margin-bottom: 80px;
            }

            

        

            .lista_nuestro_equipo{
                article{
                    /*max-width: 160px;*/
                    margin: 0 auto 50px;

                    .imagen{
                        margin-bottom: 10px;
                    }
                    .name{
                        text-align: center;
                        font-size: 16px;
                        line-height: 21px;
                        color: $color-naranja;
                        margin-bottom: 8px;
                    }
                    .cargo{
                        color: $color-texto;
                        text-align: center;
                        font-size: 13px;
                        line-height: 18px;
                    }
                }
            }
        }

        .seccion_nuestro_blog, .seccion_nuestro_libro{
            padding-top: 70px;
            .subtitulo{
                width: 100%;
                color:$color-texto;
                text-transform: uppercase;
                text-align: center;
                font-size: 19px;
                line-height: 23px;
                margin-bottom: 7px;
            }

            .titulo{
                width: 100%;
                color:$color-naranja;
                text-transform: uppercase;
                text-align: center;
                font-size: 30px;
                line-height: 32px;
                margin-bottom: 40px;
                font-family: 'Conv_HelveticaNeueBold';
            }
        }

        section.seccion_quehacemos, section.seccion_mentorias, section.seccion_coaching{
            .lista_actividades{
                article{
                    margin-bottom: 50px;
                    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
                    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
                    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);

                    .imagen{
                        margin-bottom: 0;
                    }
                    .b{                        
                        align-items: center;
                        padding: 20px 10px 20px;
                        min-height: 77px;

                        .titulo{
                            width: 100%;
                            text-align: center;
                            font-size: 15px;
                            line-height: 22px;
                            color: $color-rojo;
                            text-transform: uppercase;
                            margin-bottom: 8px;
                        }
                    }
                }
                    
            }

        

            ul.testimonio_lista_detalle{
                li{
                    padding: 0 211px 0 0;
                    margin-bottom: 80px;
                    

                    .b{
                        max-width: 635px;
                        padding-left: 95px;
                        &:before{
                            content: '';
                            width: 55px;
                            height: 36px;
                            background-repeat: no-repeat;
                            background-size: cover;
                            position: absolute;
                            top: 5px;
                            left:0;
                            background-image: url(../images/comillas-naranja.png);
                        }
                        .texto{
                            color: $color-texto;
                            font-size: 14px;
                            line-height: 19px;
                            font-family: 'Conv_HelveticaNeueLight';
                            margin-bottom: 20px;
                        }
                        .nombre{
                            color: $color-rojo;
                            font-size: 20px;
                        }
                        .cargo{
                            color: $color-naranja;
                            font-size: 12px;
                        }
                    }

                    .foto{
                        width: 160px;
                        position: absolute;
                        top: 0;
                        right:0
                    }
                }
            }

            .seccion_gracias_auspiciadores{
                margin-bottom: 10px;
                .titulo{
                    color: $color-naranja;
                    width: 100%;
                    margin-bottom: 45px;
                    text-transform: uppercase; 
                    text-align: center;
                    font-size: 20px;
                    font-family: 'Conv_HelveticaNeueBold';
                }
                article{
                    padding-left: 86px;
                    margin-bottom: 30px;

                    .num{
                        width: 65px;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    .tit{
                        color: $color-texto;
                        font-size: 16px;
                    }

                    .txt{
                        color: $color-texto;
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
            }

            .seccion_actividades_inferior{
                .titulo{
                    color: $color-rojo;
                    text-align: center;
                    margin-bottom: 40px;
                    text-transform: uppercase; 
                    font-size: 30px;
                    line-height: 35px;
                }
            }

            .lista_logros_fotografias{
                margin-bottom: 60px;
                img{
                    margin-bottom: 25px;
                }
            }

            
        }

        section.seccion_donaaqui{
            min-height: 660px;

            .texto.texto_centrado{
                max-width: 780px;
                margin: 0 auto 80px;
            }
        }

        section.seccion_blog, section.seccion_becas{
            .lista_blog, .lista_becas{
                h3{
                    color: #696768;
                    text-transform: uppercase;
                    font-size: 19px;
                    line-height: 23px;
                    margin-bottom: 0px;
                }
                h2{
                    text-align: left;
                    color: $color-naranja;
                    text-transform: uppercase;
                    font-size: 30px;
                    margin-bottom: 30px;
                    padding-left: 0;
                    max-width: 100%;
                }

                article {
                    margin-bottom: 40px;
                    .b{
                        background-color: #fff;
                        padding-left: 0;
                        padding-right: 0;

                        .pie{
                            justify-content: left;
                            
                            .autor{
                                margin-right: 20px;
                            }

                        }
                    }

                    &:hover{
                        .b{
                            .tit{
                                text-decoration: underline;
                            }
                            .texto{
                                text-decoration: underline;
                            }
                        }
                    }
                }

                article.blog_detalle{
                    margin-bottom: 100px;

                    .imagen_flotante_left{
                        float: left;
                        margin-top: 3px;
                        margin-right: 25px;
                        max-width: 445px;
                        margin-bottom: 25px;

                        @media (max-width: 580px){
                            float: none;   
                            margin: 0 30px;
                        }
                    }

                    &:hover{
                        .b{
                            .tit{
                                text-decoration: none;
                            }
                            .texto{
                                text-decoration: none;
                            }
                        }
                    }

                    
                }
            }
        }

        section.seccion_libros{

            h3{
                color: #696768;
                text-transform: uppercase;
                font-size: 19px;
                line-height: 23px;
                margin-bottom: 0px;
            }
            h2{
                text-align: left;
                color: $color-naranja;
                text-transform: uppercase;
                font-size: 30px;
                margin-bottom: 30px;
                padding-left: 0;
                max-width: 100%;
            }

            .lista_libros{
                

                article {
                    margin-bottom: 40px;
                    max-width: 940px;
                    padding-left: 20px; 
                    padding-bottom: 40px;
                    border-bottom:1px solid #dfdfdf;
                    background-color: transparent;

                    .imagen{
                        max-width: 100px;
                        margin-bottom: 25px;
                    }
                    
                    .tit{
                        text-align: left;
                        color: $color-naranja;
                        text-transform: uppercase;
                        font-size: 16px;
                        margin-bottom: 18px;
                        padding-left: 0;
                        max-width: 100%;
                    }

                    .autor{
                        text-align: left;
                        color: #7E7E7E;
                        font-size: 14px;
                        margin-bottom: 8px;
                        padding-left: 0;
                        max-width: 100%;
                    }

                    .texto{
                        text-align: left;
                        color: #161615;
                        font-size: 13px;
                        margin-bottom: 18px;
                        padding-left: 0;
                        max-width: 100%;

                        p{
                            margin-bottom: 15px;
                        }
                    }
                }

                
            }
        }

        section.seccion_donaaqui{
            .seccion_donaaqui_detalle{
                .imagen{
                    margin-bottom: 25px;
                }
                .titulo{
                    color: $color-naranja;
                    font-size: 20px;
                    line-height: 25px;
                    margin-bottom: 20px;
                    font-family: 'Conv_HelveticaNeueBold';
                    text-transform: uppercase;
                }

                .texto{
                    margin-bottom: 20px;
                    color: #161615;
                }
                .tit{
                    color: #4E4E4E;
                    font-size: 14px;
                    line-height: 17px;
                    margin-bottom: 3px;
                    font-family: 'Conv_HelveticaNeueBold';
                    text-transform: uppercase;
                }
                .sub{
                    color: #161615;
                    font-size: 14px;
                    line-height: 17px;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                }
                .tit2{
                    color: #4E4E4E;
                    font-family: 'Conv_HelveticaNeueBold';
                    font-size: 14px;
                    line-height: 17px;
                    margin-bottom: 0;
                }                
            }
        }
    }    
}

.layer_login{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999999999;
    display: none;
    
    .sombra_layer{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.8);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .caja{
        width: calc(100% - 30px);
        height: auto;
        max-width: 485px;
        max-height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: var(--medioGlobal);
        background-color: $color-rojo;
        z-index: 2;  
        padding: 50px 10px;
        
        .titulo{
            text-transform: uppercase;
            text-align: center;
            color: #ffffff;
            font-size: 24px;
            line-height: 35px;
            margin-bottom: 5px;
        }
        .parrafo{
            text-align: center;
            color: #ffffff;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 30px;
        }

        .c{
            max-width:350px;
            margin: 0 auto;
        }

        .campo{
            width: 100%;
            margin-bottom: 15px;

            input{
                width: 100%;
                height: 44px;
                border:1px solid #ffffff;
                font-size: 14px;
                color: #ffffff;
                padding: 8px 15px;
                background-color: transparent;
                text-transform: uppercase;
            }

            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #ffffff;
                opacity: 1; /* Firefox */
            }
            
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: #ffffff;
            }
            
            ::-ms-input-placeholder { /* Microsoft Edge */
                color: #ffffff;
            }
        } 

        .btn_ingresar{
            width: 100%;
            height: 44px;
            background-color: #ffffff;
            font-size: 18px;
            color: $color-rojo;
            padding: 8px 15px;
            text-transform: uppercase;
            margin-bottom: 20px;
            text-align: center;
            font-family: 'Conv_HelveticaNeueMedium';
            border:1px solid #ffffff;
            cursor: pointer;

            &:hover{
                background-color: $color-rojo;
                color: #ffffff;
            }
        }

        .pie{
            display: flex;
            justify-content: space-between;
            .left{
                width: 50%;

                .btn_texto{
                    font-size: 14px;
                    line-height: 18px;
                    margin-bottom: 15px;
                    color: #ffffff;
                    cursor: pointer;

                    &:hover{
                        text-decoration: underline;
                    }
                }
            }

            .btn_close{
                width: 90px;
                height: 29px;
                border:1px solid #ffffff;
                font-size: 14px;
                color: #ffffff;
                padding: 3px 15px;
                background-color: transparent;
                text-align: center;
                text-transform: uppercase;
                cursor: pointer;

                &:hover{
                    background-color: #fff;
                    color: $color-rojo;
                }
            }
        }
    }
}

@media (max-width:1300px){
	.wrapper_interna {
		
        .seccion_principal {

            > section{
                .seccion_gracias_auspiciadores {
                    .container {
                        .lista_logos{
                            display: block;
                            text-align: center;

                            img{
                                display: inline-block;
                                margin: 0 20px 20px;
                            }

                        }
                    }
                }

                .seccion_alianzas {
                    .container-fluid {
                        .lista_logos{
                            display: block;
                            text-align: center;

                            img{
                                display: inline-block;
                                margin: 0 20px 20px;
                            }
                        }
                    }
                }
            }
        }
	}
}

@media (max-width:1000px){
    .wrapper_interna {
        .seccion_principal{
            .banner.banner_fondo_red {
                .container {
                    .box {
                        padding-left: 0;
                        .tablet{
                            display: none;
                        }                        
                    }
                }
            }

            section.seccion_donaaqui{
                min-height: 0;
            }
        }
        
    }
}

@media (max-width:800px){
    .wrapper_interna {
        .banner {
            .container {
                height: 250px;

                .box{
                    h1{
                        font-size: 30px;
                        line-height: 36px;

                        br{
                            display: none;
                        }

                        span{
                            font-size: 20px;
                        }
                    }
                }
                
            }
        }
    }
}

@media (max-width:768px){
    .wrapper_interna {

        .seccion_principal {
            .banner, .banner.banner_especial {
                .container{
                    height: 400px;

                    .box {
                        .logo_mujeres_roca{
                            width: 60%;
                            margin: 0 auto;
                        }                        
                    }

                    .logo_duo {
                        width: 200px;
                        bottom: 100px;
                    }
                }

            }

            
            > section {
                .btn_menu_lateral{ 
                    width: 150px;
                    height: 40px;                    
                    display:flex;
                    padding: 5px 12px;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    @include transition(all 0.2s ease-out);
                    z-index: 9999999;
                    background-color: #ececec;
                    text-align: center;
                    border-radius: 5px;
                    color: #707070;
                    font-size: 14px;
                    margin: -30px 0 30px;
                    text-transform: uppercase;
                    

                    .sanguche {
                        width: 25px;  
                        margin-left: 15px;                                             
        
                        .lines {
                            width: 100%;
                            height: 3px;
                            border-radius: 1px;
                            margin-bottom: 3px;
                            background-color: #707070;
                        }

                        .lines:last-child{
                            margin-bottom: 0;
                        }
                    }

                    &.activo{
                        width: 100%;
                        margin-bottom: 12px;

                        .sanguche{
                            .lines{
                                display: none;
                            }
                            &:after{
                                content: '';
                                width: 33px;
                                height: 33px;
                                background-image: url(../images/btn_close_menu_gris.svg);
                                background-size: cover;
                                margin: 0 auto;
                                z-index: 999999999999;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }

                    
                }

                ul.menu_lateral{
                    width: 100%;
                    display: none;
                    overflow: hidden;                    
                    z-index: 999999;
                    background-color: #fff;                   
                }

                div{
                    .container{
                        .row{
                            .col-md-3{
                                position: static;
                            }
                        }
                    }
                }
                
            }

            section.seccion_quehacemos, section.seccion_mentorias, section.seccion_coaching {
                ul.testimonio_lista_detalle {
                    li {
                        padding-right: 0;
                        .b{
                            padding-left: 43px;
                            &:before{
                                width: 25px;
                                height: 20px;
                            }

                            .cargo{
                                margin-bottom: 30px;
                            }
                        }
                        .foto{
                            position: relative;
                            top: auto;
                            right: auto;
                            margin: 0 auto;

                        }
                    }
                }
            }
        }
    }
}


@media (max-width:580px){
	.wrapper_interna {
		.seccion_principal {
            .banner {
                .container {
                    .box {
                        h1{
                            font-size: 24px;
                            line-height: 28px;

                            span{
                                font-size: 14px;
                            }
                        }
                        .subtitulo{
                            font-size: 18px;
                            line-height: 22px;
                            br{
                                display: none;
                            }
                        }
                    }
                }
            }

            .banner.banner_fondo_red {
                .container {
                    .box {
                        h1{
                            font-size: 24px;
                            line-height: 28px;

                            span{                              
                                font-size: 14px;                               
                            }
                        }
                    }
                }
            }

            .banner.banner_chico {
                .container{
                    height: 220px;
                }
            } 

            > section {
                .seccion_charlas_de_hoy {
                    article {
                        padding-left: 0;
                        align-items: flex-start;
                        .imagen{
                            margin-bottom: 15px;
                            width: 150px;
                        }
                        .c{ 
                            width: 100%;
                            padding-left: 15px;

                            .tit{
                                font-size: 14px;
                                margin-bottom: 10px;
                            }
                        }
                    }
                }

                h2{
                    font-size: 24px;
                    line-height: 28px;
                }

                .seccion_testimonios {
                    .titulo{
                        font-size: 24px;
                    }
                }

                .lista_texto_imagen {
                    article {
                        padding-right: 0;
                        .imagen{
                            position: relative;
                            top: auto;
                            right: auto;
                            margin-bottom: 20px;
                        }
                    }
                }
            }            

            section.seccion_quehacemos, section.seccion_mentorias, section.seccion_coaching {
                .seccion_gracias_auspiciadores {
                    article {
                        margin-bottom: 60px;

                        .num{
                            top: -15px;
                        }
                    }
                }
            }

            section.seccion_libros {
                .lista_libros {
                    article{
                        padding-left: 0; 
                    }
                }
            }
		}
	}
}