@import "compass";
@import "compass/css3/images";
@import "compass/css3/transition";
@import "fuentes";

$color-texto:#161615;  
$color-celeste:#0F70A5;
$color-rojo:#9F0C16;
$color-rojo-hover:#ac111e;
$color-azul:#1D324D;
$color-rosa:#EFD9CE;
$color-amarillo: #E99B1D;
$color-naranja: #E95A1D;

:root{
	--medioHorizontal: #{translateX(-50%)};
	--medioVertical: #{translateY(-50%)};
	--medioGlobal: #{translate(-50%, -50%)};
}  


@mixin scale($scale) {
	-ms-transform: scale($scale); /* IE 9 */
	-webkit-transform: scale($scale); /* Chrome, Safari, Opera */
	transform: scale($scale);
}    



html, body{
	width: 100%;
	height: 100%;
	overflow-x:hidden;
} 

body{
	width: 100%;
	margin:0;
	padding:0;	
	min-height: 100%;	
	overflow: visible;
	height: auto;
	background-color: #eeeef0;
	font-family: 'Conv_HelveticaNeueMedium';
}

body.nonescroll{
	height: 100%;
	overflow: hidden;
}

#loader{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 999999;
} 

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box; 
	*behavior: url(./js/htc/boxsizing.htc);
}

ul{

	list-style: none;
	margin: 0;
	padding: 0;
}

/**{
	@include transition(all 0.3s ease-out);
}*/

img{
	width: 100%;
	max-width:100%;
	height:auto;
	border:none;
	display: block;
}

h1,h2,h3, p{ 
	margin: 0; 
	padding: 0;
	font-size: inherit;
	line-height:inherit;
	font-weight: inherit;	
}

.clear{
	clear: both;
}

header, aside, nav, section, article{
	display: block;
	position: relative;
}

li, div{
	position: relative;
}

a.full{
	width: 100%;
	height: 100%;
	background: url(../images/bg-a.png);
	position: absolute;
	top: 0;
	left: 0;
	z-index:1000;
}

a{
	text-decoration: none;

	&:hover{
		color: $color-celeste;
		text-decoration: underline;
	}
}

span.bolder{
	font-weight: bold;
}

.wrapper{
	width: 100%;
	margin: 0 auto;
	font-size: 15px;	
	font-family: 'Conv_HelveticaNeueMedium';

	.texto{
		font-size: 16px;
		line-height: 30px;
		position: relative;
		color: $color-texto;		
		font-weight: 300;
		text-align: left;
		margin-bottom: 40px;

		p{
			margin-bottom: 17px;
		}
	}

	ul.lista{
		padding-left: 14px;
		li{
			list-style-image: url(../images/lista-flecha.png);
			font-size: 14px;
			line-height: 22px;
			display: list-item;
			margin-bottom: 10px;
			color: #7E7E7E;

			&:hover{
				color: $color-naranja;
			}
		}
	}

	ul.lista_check_yellow{
		padding-top: 7px;
		margin-bottom: 0;
		li{ 
			padding-left: 30px;
            color: #ffffff;
            font-size: 17px;
            line-height: 22px;
            margin-bottom: 0px;

            &:before{
                content: '';
                width:15px;
                height: 15px;
                background-image: url(../images/check-yellow.svg);
                background-size: cover;
                position: absolute;
                top: 2px;
                left: 0;
            }

			&:hover{
				text-decoration: underline;
			}
		}
	}

	ul.lista_check_orange{
		padding-top: 7px;
		margin-bottom: 66px;
		li{ 
			padding-left: 25px;
            color: $color-texto;
            font-size: 14px;
            line-height: 22px;
            margin-bottom: 0px;

            &:before{
                content: '';
                width:14.8px;
                height: 14.8px;
                background-image: url(../images/check-orange.svg);
                background-size: cover;
                position: absolute;
                top: 2px;
                left: 0;
            }

			&:hover{
				//text-decoration: underline;
			}
		}
	}

	ul.lista_check_orange.lista_margen{
		li{
			margin-bottom: 10px;
		}
	}

	ol.lista_numeros{
		> li{
			font-size: 14px;
			color: $color-texto;
			padding-left: 0;
			&::marker{
				color: $color-naranja;
			} 
			span{
				color: $color-naranja;
				text-transform: uppercase;
				display:block;
				margin-bottom: 5px;
				font-size: 14px;
			}
			
		}
	}

	.campo{
		width: 100%;
		margin-bottom: 15px;

		input{
			width: 100%;
			height: 44px;
			border:1px solid #7E7E7E;
			font-size: 14px;
			color: #4E4E4E;
			padding: 8px 15px;
			background-color: transparent;
			text-transform: uppercase;
		}

		::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
			color: #4E4E4E;
			opacity: 1; /* Firefox */
		}
		
		:-ms-input-placeholder { /* Internet Explorer 10-11 */
			color: #4E4E4E;
		}
		
		::-ms-input-placeholder { /* Microsoft Edge */
			color: #4E4E4E;
		}

		textarea{
			width: 100%;
			height: 89px;
			border:0;
			border:1px solid #7E7E7E;
			font-size: 14px;
			color: #4E4E4E;
			padding: 8px 15px;
			background-color: transparent;
			text-transform: uppercase;
		}
	}

	.campo_select{
		width: 100%;
		margin-bottom: 15px;

		select{
			color: #333333;
			padding-left: 15px;
			font-size: 14px;
			text-transform: uppercase;
		}
		select{
			width: 100%;
			height: 50px;
		}
	}

	.campo_check{
		margin-bottom: 9px;
		vertical-align: middle;

		.cont {
			display: block;
			position: relative;
			padding-left: 30px;
			margin-bottom: 12px;
			cursor: pointer;
			font-size: 14px;
			color: #7E7E7E;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;                
			line-height: 17px;
		}
			
		/* Hide the browser's default checkbox */
		.cont input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
		}
			
		/* Create a custom checkbox */
		.checkmark {
			position: absolute;
			top: 0;
			left: 0;
			height: 17px;
			width: 17px;
			background-color: #eee;
			border:1px solid #7E7E7E;
		}
			
		/* On mouse-over, add a grey background color */
		.cont:hover input ~ .checkmark {
			
			background-color: #fff;
		}
			
		/* When the checkbox is checked, add a blue background */
		.cont input:checked ~ .checkmark {
			background-color: $color-rojo;
		}
			
		/* Create the checkmark/indicator (hidden when not checked) */
		.checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}
			
		/* Show the checkmark when checked */
		.cont input:checked ~ .checkmark:after {
			display: block;
		}
			
		/* Style the checkmark/indicator */
		.cont .checkmark:after {
			left: 5px;
			top: 2px;
			width: 5px;
			height: 10px;
			border: solid white;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}

	.formulario{
		.form-horizontal {
			.form-group{
				margin-left: 0;
				margin-right: 0;
	
				button.btn{
					height: 44px;
					border:1px solid #7E7E7E;
					font-size: 14px;
					color: #4E4E4E;
					padding: 10px 15px;
					border-radius: 0;
					text-transform: uppercase;
				}

				.dropdown-menu{
					border:1px solid #7E7E7E;
					> li.active{
						> a, a:focus, a:hover{
							color: #fff;
							text-decoration: none;
							background-color: $color-rojo;
							outline: 0;
						}
					}

					li{

						.dropdown-item:active{
							//color: #fff;
							text-decoration: none;
							background-color: #d5d5d5;
							outline: 0;
						}

					}
				}

				

				

				a{
					color: $color-texto;
				}
			}
		}
	}

	.container{
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		position: relative;

		.row.padd-4{
			padding-left: 3px;
			padding-right: 3px;

			> div{
				padding-left: 4px;
				padding-right: 4px;
			}			
		}

		.row.padd-8{
			padding-left: 7px;
			padding-right: 7px;

			> div{
				padding-left: 8px;
				padding-right: 8px;
			}			
		}
		
		.row.padd-10{
			padding-left: 5px;
			padding-right: 5px;

			> div{
				padding-left: 10px;
				padding-right: 10px;
			}
		}

		.row.padd-18{
			padding-left: 9px;
			padding-right: 9px;

			> div{
				padding-left: 18px;
				padding-right: 18px;
			}
		}

		.row.padd-24{
			padding-left: 12px;
			padding-right: 12px;

			> div{
				padding-left: 24px;
				padding-right: 24px;
			}
		}

		.row.padd-2{
			padding-left: 2px;
			padding-right: 2px;

			> div{
				padding-left: 3px;
				padding-right: 3px;
			}			
		}

		

	}

	.padding-0{
		padding-right:0;
		padding-left:0;
	}

	.sombra{
		width: 100%;
		height: 100%;
		position: fixed;
		top: 0;
		left: 0;
		background: #000000;
		opacity: 0.7;
		display: none;
		z-index: 888888;
	}

	.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
		display: inline-block \9 !important;
		vertical-align: top \9;
	}
	

}

.video{
	width: 100%;
	z-index: 3;
	margin-bottom: 50px;

	.contenedor_video{
		height: 0;
		overflow: hidden;
		padding-bottom: 56.25%;
		padding-top: 30px;
		/*padding-bottom: 44%; 
		padding-top: 0;*/
		position: relative; 

		iframe, object, embed, video{
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}

		.play{
			width: 65px;
			height: 72px;
			position: absolute;
			top: 50%;
			cursor: pointer;
			left: 50%;
			transform: var(--medioGlobal);
			background-image: url(../images/play.svg);
			background-size: cover;
			z-index: 555;
		}
	}
}



.seccion_alianzas, .seccion_gracias_auspiciadores{
	.owl-carousel{
		.owl-item{

		}

		.owl-stage{
			display: flex;
			align-items: center;
		}
 
		.owl-controls{
			position: static;
			.owl-nav{
				position: static;
				top: 0;
				.owl-prev{
					width: 45px;
					height: 45px;
					background-image: url(../images/flecha-left.svg);
					background-color: transparent;
					background-repeat: no-repeat;
					background-size: 50%;
					background-position: center;
					font-size: 0;
					top: 50%;
					transform: var(--medioVertical);
					left: -60px;
					position: absolute;
					opacity: 0.6;

					&:hover{
						background-color: transparent;
						opacity: 1;
						background-image: url(../images/flecha-left.svg);
						background-repeat: no-repeat;
						background-position: center;
					}
				}  

				.owl-next{
					width: 45px;
					height: 45px;
					background-image: url(../images/flecha-right.svg);
					background-color: transparent;
					background-repeat: no-repeat;
					background-size: 50%;
					background-position: center;
					font-size: 0;
					top: 50%;
					transform: var(--medioVertical);
					right: -60px;
					left: auto;
					position: absolute;

					&:hover{
						background-color: transparent;
						opacity: 1;
						background-image: url(../images/flecha-right.svg);
						background-repeat: no-repeat;
						background-position: center;
					}
				}
			}
			.owl-dots{
				display: none !important;
			}
		}
	}
}







@media (min-width: 1201px){
	
	.wrapper .sombra{
		display: none !important;
	}
}

@media (max-width: 1200px){
	.wrapper{
		.container{
			padding-left: 20px;
			padding-right: 20px;
		}
	}
}

@media (max-width: 768px){
	.wrapper {
		.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
			display: table \9 !important;
		}
	}
}


@media (max-width: 580px){
	.wrapper {
		ul.lista_check_yellow {
			li{
				font-size: 13px;
				line-height: 16px;
				margin-bottom: 3px;
				padding-left: 22px;

				&:before{
					width: 11px;
					height: 11px;
				}
			}
		}
	}
}

@media (max-width: 460px){
	.wrapper {
		.container {
			.row.padd-8 {
				> div{
					padding-left: 2px;
					padding-right: 2px;

				}
			}
		}		
	}
}

@import "header";
@import "footer";
@import "home";
@import "internas";
@import "bxslider";
@import "owlcarrousel"; 
@import "columnas"; 
@import "bootstrap-select"


/*Web created by ASIX - asixonline.com*/
