<div class="container">
	
	<div class="caja_gris_footer"> 
		<div class="imagen">
			<img src="images/hazte-socio.png">
		</div>
		<ul class="lista_check_yellow">
			<li>Bolsa de trabajo</li>
			<li>Programa de coaching</li>
			<li>Laboratorios</li>
			<li>Becas</li>
			<li>Mentoring</li>
		</ul>
	</div>
	
	<div class="row">
		<div class="col-md-3">
			<div class="logo">
				<img src="images/logo.svg">
			</div>
		</div>
		<div class="col-md-3">
			<div class="titular">
				Contacto
			</div>
			<div class="dato">
				
				<img src="images/ico-ubicacion.svg">
				
				<div>
					Av. Benavides 2549, <br>
					piso 4. Miraflores
				</div>
			</div>

			<div class="dato">
				
				<img src="images/ico-phone.svg">
				
				<div>628-6211</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="titular">
				Actividades
			</div>
			<ul class="menu_footer">
				<li>
					<a href="actividades-curso-de-quechua.php">CURSO DE QUECHUA</a>
				</li>
				<li>
					<a href="actividades-programa-de-coaching.php">PROGRAMA DE COACHING</a>
				</li>
				<li>
					<a href="bolsa-de-trabajo.php">BOLSA DE TRABAJO</a>
				</li>
				<li>
					<a href="actividades-mentoring.php">MENTORING</a>
				</li>
			</ul>
		</div>
		<div class="col-md-3">
			<div class="titular">
				Recientes Publicaciones
			</div>

			<article class="publicaciones">
				<a href="blog-creencias-limitantes.php" class="full"></a>
				<!--  <img src="images/img-blog-footer.jpg">-->
				<div class="b">
					<div class="tit">
						Creencias limitantes: la lucha de la pulga contra el elefante
					</div>
					<div class="fecha">
						05 de enero, 2022
					</div>
				</div>
			</article>
			<article class="publicaciones">
				<a href="blog-plan-de-vida.php" class="full"></a>
				<!-- <img src="images/img-blog-footer.jpg"> -->
				<div class="b">
					<div class="tit">
						Plan de vida y de carrera
					</div>
					<div class="fecha">
						05 de enero, 2022
					</div>
				</div>
			</article>
		</div>

		<div class="col-12">
			<div class="line"></div>
		</div>
		<div class="col-12">
			<div class="detalle_inferior">
				<div class="dot"></div>
				<a href="politicas.php">Políticas de Privacidad</a>
				<div class="dot"></div>
				<a href="contactenos.php">Contáctanos</a>
				
			</div>
		</div>
		
	</div>
</div>
	




