	<div class="box_topper">
		<div class="container">
			<div class="logo">
				<a href="index.php">
					<img src="images/logo.svg" alt="Oma">
				</a>					
			</div>
			
			<nav>
				<ul class="menu">
					<li class="menu_conocenos menu_plus">
						<div class="menu_padre">
							<a href="conocenos-quienes-somos.php" class="full"></a>									
							<span>Conócenos</span>									
						</div>	
						<ul class="sub_menu">
							<li>
								<a href="conocenos-quienes-somos.php" class="full"></a>
								¿Quiénes Somos?
							</li>
							<li>
								<a href="conocenos-objetivos.php" class="full"></a>
								Objetivos
							</li>
							<li>
								<a href="conocenos-nuestro-compromiso.php" class="full"></a>
								Nuestro Compromiso
							</li>
							<li>
								<a href="conocenos-nuestro-equipo.php" class="full"></a>
								Nuestro Equipo
							</li>
						</ul>								
					</li>
					<li class="menu_quehacemos menu_plus">
						<div class="menu_padre">
							<a href="que-hacemos-actividades.php" class="full"></a>									
							<span>¿Qué Hacemos?</span>									
						</div>	
						<ul class="sub_menu">
							<li>
								<a href="que-hacemos-actividades.php" class="full"></a>
								Actividades
							</li>
							<li>
								<a href="que-hacemos-programacion.php" class="full"></a>
								Programa 2022
							</li>
							<li>
								<a href="que-hacemos-testimonios.php" class="full"></a>
								Testimonios
							</li>
							<li>
								<a href="que-hacemos-logros.php" class="full"></a>
								Logros
							</li>
						</ul>							
					</li>
					<li class="menu_coaching">
						<div class="menu_padre">
							<a href="actividades-programa-de-coaching.php" class="full"></a>									
							<span>Coaching</span>									
						</div>								
					</li>
					<li class="menu_mentorias">	
						<div class="menu_padre">
							<a href="actividades-mentoring.php" class="full"></a>									
							<span>Mentoring</span>																		
						</div>							
					</li>
					<li class="menu_becas">
						<div class="menu_padre">
							<a href="becas.php" class="full"></a>									
							<span>Becas</span>									
						</div>								
					</li>
					<!-- <li class="menu_bolsa">
						<div class="menu_padre">
							<a href="bolsa-de-trabajo.php" class="full"></a>									
							<span>Bolsa de Trabajo</span>									
						</div>								
					</li>-->
					<li class="menu_blog">
						<div class="menu_padre">
							<a href="blog.php" class="full"></a>									
							<span>Blog</span>									
						</div>								
					</li>
					<li class="redes">
						<div class="ico">
							<a href="https://www.linkedin.com/pub/oma-peru/101/127/b38/es" target="_blank" class="full"></a>
							<img src="images/ico-linkedin.svg">
						</div>
						<div class="ico">
							<a href="#" target="_blank" class="full"></a>
							<img src="images/ico-instagram.svg">
						</div>
						<div class="ico">
							<a href="https://www.facebook.com/omaperuorg/?fref=ts" target="_blank" class="full"></a>
							<img src="images/ico-facebook.svg">
						</div>
						<!-- <div class="ico">
							<a href="#" class="full"></a>
							<img src="images/ico-wassap.svg">
						</div> -->
						<div class="ico">
							<a href="contactenos.php" class="full"></a>
							<img src="images/ico-mail.svg">
						</div>
					</li>					
				</ul>								
			</nav> 	
		</div>									
	</div>
			
				
	
