			<div class="logo">
				<a href="index.php">
					<img src="images/logo.svg" alt="Oceeano">
				</a>					
			</div>
			<div class="sanguche">
				<div class="lines"></div>
				<div class="lines"></div>
				<div class="lines"></div>
			</div>
			<div class="mobile_tools">				
				<div class="btn_close">
					<img src="images/btn_close_menu.svg" alt="Oceeano">
				</div>
			</div>
