<div class="seccion_gracias_auspiciadores">
    <div class="container">
        <div class="titulo">
            Gracias a Nuestros Auspiciadores
        </div>
        <ul class="lista_logos">
            <img src="images/home-auspiciadores-1.jpg">
            <img src="images/home-auspiciadores-2.jpg">
            <img src="images/home-auspiciadores-3.jpg">
            <img src="images/home-auspiciadores-4.jpg">
            <img src="images/home-auspiciadores-5.jpg">
            <img src="images/home-auspiciadores-6.jpg">
            <img src="images/home-auspiciadores-7.jpg">
            <img src="images/home-auspiciadores-8.jpg">
            <img src="images/home-auspiciadores-9.jpg">
            <img src="images/home-auspiciadores-10.jpg">
            <img src="images/home-auspiciadores-11.jpg">
            <img src="images/home-auspiciadores-12.jpg">
            <img src="images/home-auspiciadores-13.jpg">
            <img src="images/home-auspiciadores-14.jpg">
            <img src="images/home-auspiciadores-15.jpg">
            <img src="images/home-auspiciadores-16.jpg">
        </ul>
    </div>
</div>