<div class="seccion_alianzas">
    <div class="container">
        <div class="titulo"> 
            Nuestras Alianzas 
        </div>
        <ul class="lista_logos">
            <img src="images/home-alianzas-1.png">
            <img src="images/home-alianzas-2.png">
            <img src="images/home-alianzas-3.png">
            <img src="images/home-alianzas-4.png">
            <img src="images/home-alianzas-5.png">
            <img src="images/home-alianzas-6.png">
            <img src="images/home-alianzas-7.png">
            <img src="images/home-alianzas-8.png">
            <img src="images/home-alianzas-9.png">
            <img src="images/home-alianzas-10.png">
            <img src="images/home-alianzas-11.png">
            <img src="images/home-alianzas-12.png">
        </ul>
    </div>
</div>