<div class="seccion_nuestro_blog">
    <div class="container">
        <div class="subtitulo">
            Mantente Actualizado
        </div>
        <div class="titulo">
            Nuestro Blog y Noticias
        </div>
        <div class="lista_blog">
            <div class="row">
                <div class="col-md-4">
                    <article>
                        <a href="blog-creencias-limitantes.php" class="full"></a>
                        <div class="imagen">
                            <img src="images/blog-1.jpg">
                        </div>
                        <div class="b">
                            <div class="tit">
                                Creencias limitantes: la lucha de la pulga contra el elefante
                            </div>
                            <div class="texto">
                                ¿Te imaginas una lucha entre una pulga y un elefante? Sí, aparte de ser una batalla
                                perdida que no te llevará a ganar ninguna guerra, es una lucha agotadora y desgastante.
                                La misma lucha que todos los días peleamos, sin ser conscientes de ello, entre lo que
                                realmente queremos conseguir y lo que nuestras creencias limitantes nos dejan.
                            </div>
                            <div class="pie">
                                <div class="autor">
                                    María Luisa de Miguel
                                </div>
                            </div>
                            <div class="btn_leer">
                                Leer más ...>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article>
                        <a href="blog-plan-de-vida.php" class="full"></a>
                        <div class="imagen">
                            <img src="images/blog-2.jpg">
                        </div>
                        <div class="b">
                            <div class="tit">
                                Plan de vida y de carrera
                            </div>
                            <div class="texto">
                                Planteamiento <br>
                                Un plan de vida supone la enumeración de los objetivos que una persona quiere lograr a
                                lo largo de su vida y una guía que propone cómo alcanzarlos. Este plan puede incluir
                                metas personales, profesionales, económicas y espirituales.
                            </div>
                            <div class="pie">
                                <div class="autor">
                                   
                                </div>
                                <div class="fecha">
                                    
                                </div>
                            </div>
                            <div class="btn_leer">
                                Leer más ...>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-4">
                    <article>
                        <a href="blog-energia-vital.php" class="full"></a>
                        <div class="imagen">
                            <img src="images/blog-3.jpg">
                        </div>
                        <div class="b">
                            <div class="tit">
                                Energia vital
                            </div>
                            <div class="texto">
                                Nuestra energía vital proviene de cuatro fuentes: física, emocional, mental y
                                espiritual. Nuestros rituales de energía deben contemplar la renovación de nuestra
                                energía en estas cuatro dimensiones; solo si están balanceadas podemos extraer todo
                                nuestro potencial. Aprender a usar la energía dentro de cada uno de esas cuatro
                                dimensiones es la clave para conseguir nuestros objetivos.
                            </div>
                            <div class="pie">
                                <div class="autor">
                                     
                                </div>
                                <div class="fecha">
                                     
                                </div>
                            </div>
                            <div class="btn_leer">
                                Leer más ...>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>