<div class="seccion_testimonios">
    <div class="container">
        <div class="titulo">
            Testimonios
        </div>
        <div class="lista_testimonios">
            <div class="row">
                <div class="col-md-6">
                    <div class="item">
                        <div class="comillas"></div>
                        <div class="texto">
                            Ha sido una hermosa experiencia que recomendaría a todo mundo, estoy muy agradecida con OMA Perú, con la Escuela de Mentoring de España y con mi maravillosa mentora, cada sesión me ha ayudado muchísimo a nivel personal y profesional, la fluidez y sintonía hizo que cada sesión sea asombrosa, poco a poco se volvía más sencillo el poder indagar en mi misma, descubrir y potenciar mis habilidades, comprender en que puedo mejorar y que quiero descartar. Realmente he notado un gran cambio en mi vida, me siento con mucha energía y con ganas de ir a cumplir todas mis metas trazadas. 
                        </div>
                        <div class="foto">
                            <img src="images/testimonio-lista-detalle-6.png">
                        </div>
                        <div class="name">
                            Anabel Sanchez Gamboa 
                        </div>
                        <div class="empresa">
                            Región La Libertad <br>
                            Becaria de Escuela de  <br>
                            Mentoring de España

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item">
                        <div class="comillas"></div>
                        <div class="texto">
                            Es increíble, como te cambia la vida los talleres de coaching de OMA.
                            Aportó mucho en mi desarrollo personal, generando más seguridad en mí, a desenvolverme mejor al hablar en público y a seguir desarrollando mis habilidades blandas.
                            Definitivamente una con las dinámicas se va soltando más y claro es muy gratificante al trabando en nosotros mismos porque cada uno de nosotros somos nuestro propio proyecto.
                            Y todo este aprendizaje me ayudará más adelante como futura profesional la parte profesional, a ser mejor persona, a trabajar en equipo y a se una buen líder. Pero siempre debemos de tener en cuenta que antes de ser un buen profesional debemos trabajar en ser mejores cada día como ser humano.
                            Agradezco infinitamente a OMA y Amautas Mineros.

                        </div>
                        <div class="foto">
                            <img src="images/testimonio-lista-detalle-7.png">
                        </div>
                        <div class="name">
                            Diana Mercedes Galindo Támara
                        </div>
                        <div class="empresa">
                            Región Ancash <br>
                            Ciencias de la comunicación en la Universidad Nacional Santiago Antunez de Mayolo
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>